body {
  background-color: #7f1933;
}

div {
  /*background-color: red;*/
  /*border: 1px solid lime;*/
}

#header {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#headertext {
  background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  background-clip: text;
  /*-webkit-text-fill-color: transparent;*/
  padding: 1rem;
  margin-bottom: 0;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

#navtop {
  height: 1px;
  background-color: #232323;
}

#navigationbar {
  background-color: #232323;
  top: 0;
}

#magnet {
  visibility: hidden;
  animation-name: fadeOut;
  animation-duration: 1s;
  transition: .5s;
}

#magnet.isSticky {
  visibility: visible;
  animation: fadeIn;
  animation-duration: 1s;
  transition: .5s;
}

#logo {
  /*background-color: white;*/
}
