body {
  background-color: #7F1933;
  margin: 0;
  font-family: Verdana;
  color: white;
}

div {
  /*background-color: red;*/
  border: 1px solid lime;
}

.zoom {
  transition: .2s;
}

.zoom:hover {
  transform: scale(1.05);
}

div.bodybody {
  background-color: blue;
  max-width: 100vw;
  height: 100;
}

div.floppi {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
}
