body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: #2c2f33;
}

#reloadbutton,
#uploadbutton {
	color: white;
	border: none;
	height: auto;
	width: 50vw;
	position: fixed;
	opacity: 0.7;
}

#reloadbutton:hover,
#uploadbutton:hover {
	opacity: 0.9;
}

#reloadbutton {
	background-color: #5865f2;
	bottom: 0;
	right: 0;
}

#uploadbutton {
	background-color: #4caf50;
	bottom: 0;
	left: 0;
}

#reloadspan {
	font-family: Lucida Sans Unicode;
	font-size: 3em;
}

#uploadspan {
	font-family: Lucida Sans Unicode;
	font-size: 3em;
}

#meme {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100vh;
	width: auto;
	height: auto;
}
