@charset "UTF-8";

body,
#bodygrid {
	background-color: black !important;
}

img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

/* Alt Nrgs Divs */
.altnrgs {
	display: none;
}

/* others Divs */
#black_cat,
#booster,
#bullit,
#burn,
#cola,
#crazy_wolf,
#engie,
#aldi,
#kong_strong,
#power_horse,
#relentless,
#spezi {
	display: none;
}

/* effect Divs */
#classic,
#flavoured,
#bcaa,
#mix {
	display: none;
}

/* Monster Divs */
#classic,
#juiced,
#ultra,
#rehab {
	display: none;
}

/* Rockstar Divs */
#classic,
#hemp,
#punched,
#xdurance,
#xdpower,
#juiced {
	display: none;
}

.energys {
	border-radius: 0 !important;
}

#cookieNoticeCloser {
	cursor: pointer;
	display: none;
}

#cookieNoticeCloser:before {
	content: "";
}

#cookieNoticeCloser:after {
	content: "";
}

#header {
	padding-bottom: 1rem;
	padding-top: 1rem;
	margin-bottom: 0;
}

#clock {
	color: #17d4fe;
}

#headertext {
	background: linear-gradient(
		to right,
		#ffd700,
		#bbff00,
		#00ff2b,
		#00ffb7,
		#00ffff,
		#00feff,
		#00f4ff,
		#00e2ff
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 1rem;
	margin-bottom: 0;
	color: transparent;
	animation: hue-rotate 6s linear infinite;
}

@keyframes hue-rotate {
	0% {
		filter: hue-rotate(0);
	}
	to {
		filter: hue-rotate(-360deg);
	}
}

/*@media-Zeug unnso*/
@media (min-width: 768px) {
	#magnet {
		visibility: hidden;
		background: linear-gradient(
			to right,
			#ffd700,
			#bbff00,
			#00ff2b,
			#00ffb7,
			#00ffff,
			#00feff,
			#00f4ff,
			#00e2ff
		);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
		animation-name: fadeOut, hue-rotate;
		animation-duration: 1s, 6s;
		animation-timing-function: linear, linear;
		animation-iteration-count: 1, infinite;
		transition: 0.5s;
	}

	#magnet.isSticky {
		visibility: visible;
		background: linear-gradient(
			to right,
			#ffd700,
			#bbff00,
			#00ff2b,
			#00ffb7,
			#00ffff,
			#00feff,
			#00f4ff,
			#00e2ff
		);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
		animation: fadeIn, hue-rotate;
		animation-duration: 1s, 6s;
		animation-timing-function: linear, linear;
		animation-iteration-count: 1, infinite;
		transition: 0.5s;
	}
}

@media (max-width: 767.98px) {
	#header {
		display: none;
	}
	#mobileheader {
		display: block;
	}
	#navtop {
		display: none;
	}
	#magnet {
		visibility: visible;
		background: linear-gradient(
			to right,
			#ffd700,
			#bbff00,
			#00ff2b,
			#00ffb7,
			#00ffff,
			#00feff,
			#00f4ff,
			#00e2ff
		);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
		animation: hue-rotate 6s linear infinite;
	}
}
